

:root {
  --background: #1F1549;
  --green-forfait : #217d3f;
  --warning-forfait : #fba302;
  --text-color : white;
  --text-two-color: #00e164;
  --questions-height: 600px; /* Définissez la valeur initiale de la variable */
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  font-family: Poppins, sans-serif;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
